<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:p="http://www.springframework.org/schema/p" xmlns:security="http://www.springframework.org/schema/security"
    xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/util 
       http://www.springframework.org/schema/util/spring-util-2.0.xsd
       http://www.springframework.org/schema/context
       classpath:spring-context-2.1.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security-2.0.xsd">


    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
        destroy-method="close">
        <property name="driverClass">
            <value>com.mysql.jdbc.Driver</value>
        </property>
        <property name="jdbcUrl">
            <value>jdbc:mysql://localhost/wdm</value>
        </property>
        <property name="user">
            <value>wdm</value>
        </property>
        <property name="password">
            <value>wdm</value>
        </property>

        <property name="initialPoolSize">
            <value>5</value>
        </property>
        <property name="minPoolSize">
            <value>5</value>
        </property>
        <property name="maxPoolSize">
            <value>100</value>
        </property>
        <!-- <property name="timeout"><value>0</value></property> -->   <!-- 0 means: no timeout -->
        <property name="idleConnectionTestPeriod">
            <value>200</value>
        </property>
        <property name="acquireIncrement">
            <value>5</value>
        </property>
        <property name="acquireRetryAttempts">
            <value>10</value>
        </property>
        <property name="acquireRetryDelay">
            <value>1000</value>
        </property>
        <property name="unreturnedConnectionTimeout">
            <value>200</value>
        </property>
        <!-- unreturnedConnectionTimeout defines a limit (in seconds) to how long 
            a Connection may remain checked out. -->
        <!-- If set to a nozero value, unreturned, -->
        <!-- checked-out Connections that exceed this limit will be summarily destroyed, 
            and then replaced in the pool -->
        <property name="debugUnreturnedConnectionStackTraces">
            <value>true</value>
        </property>

        <property name="maxStatements">
            <value>0</value>
        </property>  <!-- 0 means: statement caching is turned off. -->
        <property name="numHelperThreads">
            <value>3</value>
        </property>  <!-- 3 is default -->
    </bean>

    <bean id="transactionManager"
        class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory">
            <ref bean="sessionFactory" />
        </property>
    </bean>

    <bean id="appDAO" class="com.wdeanmedical.portal.persistence.AppDAO">
        <property name="sessionFactory">
            <ref bean="sessionFactory" />
        </property>
    </bean>


    <!-- enable the configuration of transactional behavior based on annotations -->
    <tx:annotation-driven transaction-manager="transactionManager" />

    <bean id="appDAOTx"
        class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="transactionManager">
            <ref bean="transactionManager" />
        </property>
        <property name="target">
            <ref bean="appDAO" />
        </property>
        <property name="transactionAttributes">
            <props>
                <prop key="create*">PROPAGATION_REQUIRED</prop>
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>


    
    <bean id="sessionFactory"
        class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource">
            <ref local="dataSource" />
        </property>


        <property name="annotatedClasses">
          <list>
            <value>com.wdeanmedical.portal.entity.UserSession</value>
            <value>com.wdeanmedical.portal.entity.Patient</value>
            <value>com.wdeanmedical.portal.entity.Allergen</value>
            <value>com.wdeanmedical.portal.entity.Medication</value>
            <value>com.wdeanmedical.portal.entity.Immunization</value>
            <value>com.wdeanmedical.portal.entity.Clinician</value>
            <value>com.wdeanmedical.portal.entity.Credential</value>
            <value>com.wdeanmedical.portal.entity.Department</value>
            <value>com.wdeanmedical.portal.entity.Division</value>
            <value>com.wdeanmedical.portal.entity.Clinician</value>
            <value>com.wdeanmedical.portal.entity.HealthIssue</value>
            <value>com.wdeanmedical.portal.entity.PatientAllergen</value>
            <value>com.wdeanmedical.portal.entity.PatientMedication</value>
            <value>com.wdeanmedical.portal.entity.PatientImmunization</value>
            <value>com.wdeanmedical.portal.entity.PatientHealthIssue</value>
            <value>com.wdeanmedical.portal.entity.MedicalTest</value>
            <value>com.wdeanmedical.portal.entity.PatientMedicalTest</value>
            <value>com.wdeanmedical.portal.entity.MedicalTestStatus</value>
            <value>com.wdeanmedical.portal.entity.MedicalProcedure</value>
            <value>com.wdeanmedical.portal.entity.PatientMedicalProcedure</value>
          </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
    </bean>

</beans>

